* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans";
}

/*  Cupom de Desconto Fixo */
.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #005cff;
  line-height: 22px;
  padding: 4px;
  gap: 3px;
}

.price-discount {
  background-color: #6220c1;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.alert span {
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

/* Header */
.header {
  display: flex;
  width: 100%;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo-avanti {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
}

.search-field {
  position: relative;
}

.input-search {
  width: 594px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  padding: 0 16px;
  border: 1px solid #dddddd;
  font-size: 14px;
}

.search-submit {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-icon {
  font-size: 24px;
}

.container-cart-and-user-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 60px;
}

.container-cart-and-user-button ion-icon {
  color: #005cff;
}

.btn-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: start;
  padding: 0 20px;
  gap: 8px;
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
}

.btn-cart {
  position: relative;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
}

.btn-cart span {
  position: absolute;
  top: -8px;
  right: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  font-size: 10px;
  font-weight: 700;
  background: red;
  color: white;
  border-radius: 50%;
}

.btn-cart ion-icon {
  color: black;
  font-size: 24px;
}

/* Mobile */

.btn-cart-mobile {
  position: relative;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
}

.btn-cart-mobile span {
  position: absolute;
  top: -8px;
  right: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  font-size: 10px;
  font-weight: 700;
  background: red;
  color: white;
  border-radius: 50%;
}

.btn-cart-mobile ion-icon {
  color: black;
  font-size: 24px;
}

/*  Navbar */
.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  padding: 23px;
}

.footer-link {
  font: 14px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.all-categories {
  display: flex;
}

.all-categories ion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  size: 14px;
  padding-right: 8px;
}

.list-items {
  display: flex;
  gap: 45px;
  align-items: center;
  max-width: 1260px;
  list-style: none;
}

/* Banner */
.img-banner {
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 96px;
}

.img-bg {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: auto;
}

/* Banner Mobile */
.img-banner-mobile {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Carrousel   */
.carrousel {
  display: flex;
}

.launch-product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.title {
  width: 1182px;
  max-width: 1182px;
  display: flex;
  justify-items: flex-start;
}

.title h1 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  width: 100%;
}

.swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 16px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.swiper-slide {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.new-product {
  display: flex;
  width: 41px;
  height: 22px;
  padding-top: 7px;
  padding-left: 8px;
}

.new-product p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 700;
  border-radius: 4px;
  background: #00264e;
  color: white;
  padding: 1px 6px;
}

.product-img {
  display: flex;
  align-items: center;
  width: 222px;
  height: 222px;
  overflow: hidden;
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
}

.product-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
.product-info {
  display: flex;
  flex-direction: column;
  padding: 6px 8px 8px 8px;
}

.price-discount-line {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.old-price {
  text-decoration: line-through;
  color: #303030;
  font-size: 12px;
  font-weight: 400;
}

.new-price {
  font-weight: bold;
  font-size: 16px;
  font-weight: 700;
}

.discount {
  padding-top: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.discount p {
  font-size: 11px;
  font-weight: 700;
  background: #5ec0be;
  border-radius: 4px;
  color: #ffffff;
}

.installments p {
  font-size: 13px;
  color: #555;
}

.div-button-buy {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 8px 8px 8px 8px;
}

.button-buy {
  background-color: #005cff;
  width: 100%;
  height: 40px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  width: 30px;
  height: 30px;
  color: #005cff;
  border: 1px solid #005cff;
  border-radius: 100%;
  box-shadow: 0px 0px 20px #005cff;
  top: 40%;
  position: absolute;
  z-index: 10;
}

.swiper-button-prev {
  left: calc((100% - 1182px) / 2 - 20px);
}

.swiper-button-next {
  right: calc((100% - 1182px) / 2 - 20px);
}

.swiper-button-prev::after {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
}

.swiper-button-next::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.swiper-pagination-bullet {
  background-color: #d1d5db;
  opacity: 1;
  margin: 16 0px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #303030;
}

.product-group {
  width: 1182px;
  max-width: 1182px;
  display: flex;
  justify-content: space-between;
  gap: 17px;
}

.product-item {
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  max-width: 238px;
  max-height: 409px;
  height: auto;
}

/* Descrição de Produto*/
.product-description {
  display: flex;
  align-items: center;
  gap: 37.5px;
  max-width: 1177px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 55px;
  padding-bottom: 55px;
}

.product-description .img img {
  width: 520px;
  height: 520px;
  object-fit: cover;
  background: #c2c2c2;
}

.product-description .text {
  flex: 1;
}

.product-description .text span {
  font-weight: 700;
  font-size: 30px;
  display: block;
  margin-bottom: 22px;
}

.product-description .text p {
  font-size: 18px;
  margin-bottom: 22px;
  font-weight: 400;
}

/* Descrição de produto 2 */
.product-description-2 {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-description-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-img {
  width: 100%;
  height: 100%;
  display: flex;
  width: 1177px;
  height: 728px;
  gap: 49px;
}

.text-wrapper {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-title {
  text-align: center;
  margin-bottom: 32px;
}

.product-title span {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  color: #4f4f4f;
  text-transform: uppercase;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon-text-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
}

.Icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text p {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
}

.image-wrapper {
  flex: 1;
  max-width: 652px;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  padding-top: 41px;
  object-fit: cover;
}

.image-wrapper-mobile {
  display: none;
}

/* Banner 2 */
.banner {
  width: 100%;
  padding-bottom: 56px;
  height: auto;
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block; 
}

/*Campo de Registro */
.register {
  max-width: 1260px;
  margin: 135px;
  justify-items: center;
  align-items: center;
}

.register h2 {
  text-align: center;
  margin-bottom: 24px;
  size: 20px;
  font-weight: 700;
}

.register h2 span {
  color: #005cff;
}

.register form {
  display: flex;
  background: #dedede;
  padding: 64px;

  border-radius: 8px;
  gap: 24px;
}

.register input[type="text"],
.register input[type="email"] {
  width: 280px;
  height: 48px;
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.register button {
  width: 121px;
  height: 48px;
  background: #005cff;
  color: white;
  border-radius: 8px;
}

.register .checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.register .checkbox-container a {
  text-decoration: underline;
}

.register button {
  background-color: #005cff;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.register button:hover {
  background-color: #0040b3;
  color: white;
}

/*Footer */
.footer {
  background-color: #f9f9f9;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  gap: 40px;
}

.logo-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 194px;
  height: 93px;
}

.logo-footer {
  width: 152px;
  margin-bottom: 40px;
}

.social-icons {
  display: flex;
  gap: 40px;
  font-size: 26px;
  color: #005cff;
}

.footer-list-items {
  align-items: center;
  list-style: none;
  padding: 0;
}

.footer-link-bold {
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.footer-link {
  text-decoration: none;
  color: #333;
  margin: 5px 0;
  display: block;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #7e61e7;
}

.payment-container {
  width: 100%;
  display: flex;
  padding: 64px;
  justify-content: center; 
}

.payment-method {
  max-width: 100%;
  height: auto;
}

.arrow {
  display: none;
}

/*Rodapé */
.rodape {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: white;
  padding: 40px;
  text-align: center; 
  font-size: 12px;
  font-weight: 400;
}

.img-rodape {
  width: 300px;
  padding: 40px;
}

/* ========================== */
/*  RESPONSIVIDADE GERAL      */
/* ========================== */

@media (max-width: 768px) {
  body {
    padding-top: 40px;
  }

  .alert {
    font-size: 12px;
    padding: 6px;
    gap: 2px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px 16px;
    gap: 12px;
  }

  .logo-avanti {
    padding: 16px;
    justify-content: space-between;
    width: 100%;
  }

  .search-field {
    width: 100%;
  }

  .input-search {
    width: 100%;
    max-width: 100%;
    height: 38px;
    font-size: 13px;
  }

  .search-submit {
    right: 12px;
    font-size: 18px;
  }

  .container-cart-and-user-button {
    display: none;
  }

  .navbar {
    display: none;
  }

  .img-banner {
    display: none;
  }

  /* Descrição de Produto */
  .product-description {
    flex-direction: column;
    gap: 24px;
  }

  .product-description .img img {
    width: 100%;
    max-width: 390px;
    height: 390px;
    object-fit: contain;
  }

  .product-description .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 38px 24px;
    text-align: left;
  }

  .product-description .text span {
    font-size: 24px;
    margin-bottom: 18px;
  }

  .product-description .text p {
    font-size: 14px;
    margin-bottom: 16px;
  }

  /* Descrição de Produto 2 */
  .text-img {
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 24px;
    padding: 28px 20px;
    box-sizing: border-box;
  }
  .image-wrapper {
    display: none;
  }

  .image-wrapper-mobile {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .image-wrapper-mobile img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  .text-wrapper {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .product-title span {
    font-size: 24px;
  }

  .text {
    gap: 16px; 
  }

  .icon-text-wrapper {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 16px; 
  }

  .icon-container {
    width: 60px; 
    height: 60px;
    flex-shrink: 0;
  }

  .Icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .text p {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
  }

  /* Campo de Registro */
  .register {
    margin: 61px auto;
    padding: 0 16px;
  }

  .register form {
    width: 100%;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
  }

  .register input[type="text"],
  .register input[type="email"],
  .register button {
    width: 100%; 
  }

  .register .checkbox-container {
    flex-direction: row;
    padding-left: 16px;
  }

  /* Footer */
  .arrow {
    display: inline-block;
  }

  /* Oculta os links inicialmente */
  .footer-list-items li:not(:first-child) {
    display: none;
  }

  /* Quando ativo, mostra */
  .footer-list-items.active li {
    display: block;
  }

  /* setinha */
  .arrow {
    margin-left: 8px;
    font-size: 14px;
    transition: transform 0.3s ease;
    display: inline-block;
  }

  /* Quando lista ativa, rotaciona seta */
  .footer-list-items.active .arrow {
    transform: rotate(180deg);
  }
}

@media (min-width: 1024px) {
  .nav-mobile {
    display: none;
  }

  .menu-outline-mobile {
    display: none;
  }

  .btn-cart-mobile {
    display: none;
  }
  .img-banner-mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .list-items {
    gap: 15px;
  }

  .header {
    max-width: 1024px;
  }

  .logo-avanti {
    display: flex;
    padding-left: 5px;
    padding-right: 20px;
  }

  .img-banner {
    padding-bottom: 48px;
  }

  .footer-top {
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 60px; 
  }

  /* Carrousel */
  .product-group {
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .product-item {
    flex: 0 0 45%;
    max-width: 45%;
  }
}
